/tmp/*
/logs/*
/*/cache/*
/*/backup/*
.DS_Store
*~
*.swp
*.log
*.pyc
/*/log
/*/logs
/*/tmp
/*/bk
/*/backup
/*/__pycache__/*
/out/
/out-2/
/original_parcels/
/extended_parcels/
/extended_parcels2/
/synthetic_parcels/
kk.txt
/samples2/
/samples/
.vscode/settings.json
